.root{
    -fx-background-color: #FF5722;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
}
.menu-bar{
    -fx-background-color: #E64A19;
    -fx-border-style: none;
    -fx-background-radius: 20px;
}
.button{
    -fx-background-color: #FFEB3B;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.text-field{
    -fx-background-radius: 10px;
}
.menu{
    -fx-cursor: hand;
}
.menu-item{
    -fx-cursor: hand;
}
